.innerPageProg{
  width: 80%;
  margin: 0 auto;
}

.push-button-left{
  padding-left: 55%;
}

.pushChildToBottomPrograms {
  width: 92%;
  position: absolute;
  bottom: 0;
}

.objectiveHeading{
  margin-right: 70%;
}

.objButtonPosition{
  margin-left: 40%;
}

.objheadingSize{
  font-size: larger;
}

.selectCustomStyleGenDetails{
  width: 50%;
}