.headerRight {
  margin-left: 30%;
  text-align: right;
  /* background-color: green; */
  min-width: 30em;
  /* margin-right: -10em; */
}

.userIcon {
  cursor: pointer;
}

.name {
  color: darkblue;
  /* margin-right: 1em; */
  /* padding-right: 0.8em; */
}

.customDropdown {
  margin-top: -1.8em;
  margin-right: -2em;
  /* margin-left: 4em; */
}
