.middleHeader {
 margin-left: 20%; 
}

.item {
  color: darkblue;
  border-radius: 5%;
  /* background-color: green; */
}

.item:hover {
  color: white;
  background-color: darkblue;
  cursor: pointer;
}
