.welcome {
  color: #003366;
  padding-top: 1em;
  width: 50%;
}

.welcomeLogo {
  margin-top: 2em;
}

.imageDiv{
  width: 45%;
  margin-right:auto;
  margin-left: auto;
  margin-top: 10%;
}
.imageDiv img {
  filter: blur(1.5px);
}
