.SigninFormStyle {
  width: 97%;
  margin: 3em auto 0em auto;
  border: 0.1em solid #003366;
  padding: 10em 5em 10em 5em;
  border-radius: 0.3em;
}

.submitButton {
  background-color: #003366;
  color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.1em solid #003366;
}

.submitButton:hover {
  background-color: white;
  color: #003366;
  border: 0.1em solid #003366;
}

.signInHeading {
  margin-top: -2em;
  margin-bottom: 1em;
}

.forgotPassword {
  margin-top: 3em;
}

.cursorClass {
  cursor: pointer;
  color: #003366;
}

.signInAs{
  margin-bottom: 25px;
}
