.dropdownFilter{
  color: white;
  /* width: 90px; */
  width: 5.5em;
}

.optionTableStyle{
  color: black;
}

.customSelectStyles{
  color: green;
  width: 90px;
}

.dontshowText{
  visibility: hidden;
}
